@import "tailwindcss";

.test:hover .dropdown {
  animation-name: anime;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  visibility: visible;
}

.dropdown {
  opacity: 0;
  visibility: collapse;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
